## Predicting the Success Rate of Getting an Immediate Response and Waiting Time to Get an Appointment

### How long do people have to wait until they can get the first appointment with a therapist on Theraply app? Will therapists reply to the user when there are so many other users seeking for help too? In this notebook, we created a code that can calculate the chance of getting an immediate response considering the number of other users on the app, and also the average waiting time for the selected therapists.

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [19]:
#the mocked model data of therapist and their other users
df1 = pd.read_csv('/Users/tikaramadhini/Documents/theraplydata/mock_model.csv', encoding_errors='ignore')

In [13]:
df1['WaitingTime(Weeks)'] = pd.to_numeric(df1['WaitingTime(Weeks)'], errors='coerce')
df1

                                    Name  WaitingTime(Weeks)  OtherUsers
0                Prof.Dr.Dr. Rainer Kaus                 4.0           6
1                     Dr. Hannsi Padberg                 2.0           7
2    Dipl.-Psych. Reiner Domes-Nontasila                 5.0           8
3                     Dr. Walter Raffauf                 6.0           3
4             Dipl.-Psych. Frank Taffelt                 8.0           7
..                                   ...                 ...         ...
125             Prof. Dr.Benigna Gerisch                 4.0           7
126             Dipl. Soz.Sylvie Tappert                 1.0           6
127                         Boris Laaser                 1.0          12
128                        Steffen Arndt                 0.0           6
129                     Dr.Martyn Vilain                 4.0          14

[130 rows x 3 columns]

In [14]:
df1=df1.dropna()
df1 = df1.astype({'WaitingTime(Weeks)':'int'})
df1

                                    Name  WaitingTime(Weeks)  OtherUsers
0                Prof.Dr.Dr. Rainer Kaus                   4           6
1                     Dr. Hannsi Padberg                   2           7
2    Dipl.-Psych. Reiner Domes-Nontasila                   5           8
3                     Dr. Walter Raffauf                   6           3
4             Dipl.-Psych. Frank Taffelt                   8           7
..                                   ...                 ...         ...
125             Prof. Dr.Benigna Gerisch                   4           7
126             Dipl. Soz.Sylvie Tappert                   1           6
127                         Boris Laaser                   1          12
128                        Steffen Arndt                   0           6
129                     Dr.Martyn Vilain                   4          14

[121 rows x 3 columns]

In [20]:
#the mocked test data from mr.A
df2 = pd.read_csv('/Users/tikaramadhini/Documents/theraplydata/mock_mrA_therapists.csv', encoding_errors='ignore')

In [16]:
df2

                             Name  mrA
0   M.Sc. M.A.Enno Pfeiffenberger    1
1  Dipl.-Psych. Michele Folchetti    1
2       Dipl.-Psych. Heika Grning    1
3  Dipl.-Psych.So-Rim Jung-Thomas    1
4      Dipl.-Psych. Luise Lamberz    1
5   Dipl.-Psych. Zaine Brockmeyer    1
6              Dr. Wilhelm Brggen    1
7            Dr.Gordian Griffiths    1
8          Dr. Tanja Mller-Gttken    1
9      Dipl.-Med. Katharina Bolze    1

In [17]:
def pred(x):
    matching_names = df1.Name.isin(x.Name)
    df3 = df1.loc[matching_names, :]
    calc = 1 / (df3['OtherUsers'] + 1)
    sr = 100 * (calc.mean())
    avgtime = df3["WaitingTime(Weeks)"].mean()
    mintime = df3['WaitingTime(Weeks)'].min()
    return f"Based on your selection, your success rate of getting an immediate response from our therapist is: {sr} %, with the shortest waiting time of {mintime} weeks, and the average waiting time of {avgtime} weeks."

In [18]:
pred(df2)

'Based on your selection, your success rate of getting an immediate response from our therapist is: 11.690226440226436 %, with the shortest waiting time of 2 weeks, and the average waiting time of 7.0 weeks.'